useDynLib(GADAG)
import(igraph)
import(MASS)
import(Rcpp)
import(parallel)
importFrom(Rcpp, evalCpp)
export(GADAG_Analyse)
export(GADAG_Run)
export(generateToyData)
export(fitness)
export(evaluation)
